@{
    ViewData["Title"] = "Home Page";
}
<style>
    .styleStatement {
        color: blue;
        font-weight:600;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="styleStatement">Welcome to our Best Bridal Makeup,Mehendi Arts & Nail Arts Services</p>
</div>
